        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

        * {
          font-family: "Noto Sans KR", sans-serif;
          margin: 0;
          padding: 0;
        }

        #c-container {
          width: 1200px;
          margin: auto;
        }

        .c-head {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          margin-left: 100px;
          margin-bottom: 50px;
        }

        .c-head div {
          margin: 0;
          padding: 0;
        }

        .c-sec {
          margin-top: 100px;
          margin-bottom: 150px;
        }

        .c-payment,
        .c-first {
          text-align: center;
        }

        .c-a2 {
          text-decoration: none;
          color: black;
          background-color: #ccc;
          display: inline;
          margin: 20px;
        }

        .c-a2:hover {
          background-color: hwb(24 8% 0%);
          color: white;
        }

        .c-way{
          margin: 0 70px 0 70px;
        }

        .c-line1{
          border: 2px solid #d1cfca;
          border-radius: 10px;
          width: 500px;
          display: inline;
          padding: 30px;
        }

        [type="radio"],
        span {
          vertical-align: middle;
        }

        [type="radio"] {
          vertical-align: middle;
          appearance: none;
          border: max(2px, 0.1em) solid gray;
          border-radius: 50%;
          width: 2em;
          height: 2em;
        }

        [type="radio"]:checked {
          border: 0.5em solid tomato;
        }

        [type="radio"]:focus-visible {
          outline: max(2px, 0.1em) dotted tomato;
          outline-offset: max(2px, 0.1em);
        }

        [type="radio"]:hover {
          box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
          cursor: pointer;
        }
        
        [type="radio"]:hover + span {
          cursor: pointer;
        }

        .c-info2, .c-info3{
          display: inline;
        }

        .c-li,
        .c-li1,
        .c-li2 {
          list-style: none;
          display: inline-block;
          padding: 0;
        }

        .c-tt1 {
          font-size: 20px;
          font-weight: 500;
          text-align: center;
          resize: none;
          border-radius: 10px;
        }

        .c-tt2 {
          resize: none;
          border-radius: 10px;
        }

        .c-pay1,
        .c-pay2,
        .c-pay3,
        .c-pay4,
        .c-pay5,
        .c-pay6,
        .c-pay7 {
          border: 1px solid #ccc;
          margin: 40px;
          padding: 20px;
        }

        #c-receipt {
          border: 1px solid #ccc;
          margin: 40px;
          padding: 20px;
        }

        .c-prt1,
        .c-prt2 {
          cursor: pointer;
        }

        .c-a {
          text-decoration: none;
          color: black;
          background-color: hsl(0, 0%, 89%);
          display: inline;
          margin: 20px;
          padding: 0 5px 0 5px;
        }

        .c-btn {
          display: flex;
          justify-content: center;
          margin: 100px 0 100px 0;
        }

        .c-btn>.c-btnip {
          font-size: 1.1rem;
          padding: 0.8rem 3rem;
          margin-right: 5rem;
          cursor: pointer;
          border-radius: 17px;
          border: none;
        }

        .c-btn>.c-btnip:hover {
          transform: scale(1.15);
        }

        #c-lb1 {
          background-color: orange;
        }

        #c-lb1:active {
          background-color: hwb(24 8% 0%);
          color: white;
        }

        #c-lb2 {
          background-color: #ccc;
        }

        .c-bn {
          cursor: pointer;
        }