.s-slide-container {
  max-width: 1000px;
  position: relative;
  margin: 20px auto;
  border: solid 3px rgb(255, 180, 41);
  border-radius: 30px;
}

.s-slideimg {
  margin: 60px 110px;
  display: none;
}

.s-prev,
.s-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.s-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.s-prev:hover,
.s-next:hover {
  background-color: rgba(255, 180, 41, 0.3);
}

.s-content {
  padding: 20px;
}
